body {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 22px;
    color: black;
}

.header {
    width: 100%;
    height: 150px;
    background-color: #eaea8f;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1:hover {
    color: #990808;
    transition: color 1s;
}


h3 {
    color: #eaea8f;
}

h3:hover {
    color: #990808;
    transition: color 1s;
}

.center {
    background-color: black;
    color: white;
    width: 100%;
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.center-menu {
    width: 80%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.center-menu-button {
    border: 2px solid #990808;
    border-radius: 15px;
    width: 40%;
    height: 100%;
}


a {
    text-decoration: none;
    color: black;
    text-align: center;
    font-size: 24px;
}

a:hover { /* когда подводим мышкой*/
    color: #000000;
}

a.button {
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background: #eaea8f;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

a.button:hover {
    background: #990808;
}

a.button:active {
    background: #e8092a;
}


.registration {
    display: flex;
    width: 100%;
    height: 80%;
    justify-content: center;

}

.container-registration {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.registration-content {
    height: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: normal;
    width: 100%;
    background: #eaea8f;
    box-sizing: border-box;
    box-shadow: 0px 22px 54px rgba(67, 87, 138, 0.29);
    border-radius: 10px;
}

.registration-form {
    height: 100%;
    margin: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.registration-form-input {
    width: 80%;
    height: 80px;
    background: #efefbe;
    border: 1px solid #fc7171;
    box-sizing: border-box;
    border-radius: 3px;
    padding-left: 20px;
}

.registration-form-button {
    border: none;
    height: 50px;
    width: 458px;
    border-radius: 3px;
    background: #990808;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color: black;
}


.registration-form-attach-button-submit {
    position: absolute;
    width: 129px;
    height: 35px;
    opacity: 0;
}

.registration-form-attach-button-clip {
    /*position: relative;*/
    width: 129px;
    height: 20px;
    display: flex;
    align-items: center;
}

span {
    margin-left: 10px;
    height: 17px;
    width: 80px;
    font-size: 12px;
    line-height: 17px;
    color: black;
    cursor: pointer;

}

.clip {
    margin-left: 10px;
    height: 15px;
    width: 15px;
}

.all-trainers {
    border: 1px solid darksalmon;
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

}

.all-trainers-trainer {
    border: 1px solid darksalmon;
    width: 100%;
    height: 30%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.avatar {
    border: 1px solid darksalmon;
    width: 30%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
}

.ava-trainer1 {
    border: 1px solid darksalmon;
    width: 30%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    background-image: url("images/ava1.jpg");
}

.ava-trainer2 {
    background-image: url("images/ava2.png");
}

.ava-trainer3 {
    background-image: url("images/ava3.jpg");
}


.ava-trainer1-content {
    border: 1px solid darksalmon;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    background-image: url("images/ava1.jpg");
}

.ava-trainer2-content {
    border: 1px solid darksalmon;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    background-image: url("images/ava2.png");
}

.ava-trainer3-content {
    border: 1px solid darksalmon;
    width: 50%;
    height: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: inherit;
    background-image: url("images/ava3.jpg");
}

.record {
    border: 1px solid darksalmon;
    width: 30%;
    height: 100%;
}

.text {
    width: 40%;
    text-align: center;
    font-size: 20px;
}

.trainer1 {
    border: 1px solid red;
    width: 90%;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.trainer-content {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-trainer-progress {
    width: 100%;
    text-align: center;
    font-size: 20px;
}


.text-trainer-workExperience {
    width: 100%;
    text-align: center;
    font-size: 20px;
}